header {
  background-color:  rgba(0, 2, 4, 0.9);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  
  font-size: 1.2rem; 
}

.home-page-header {
  background-color:  rgba(0, 2, 4, 0.6);
  backdrop-filter: blur(17px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: 1.2rem; 
}

  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 90px; 
    margin-left: 30px;
  }
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  background-color:  "rgba(1, 9, 17, 0.5)"; 
  text-decoration: none;
  color: white;
}
