/* src/components/Header.css */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Add margin between the logo and the title */
  }
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
}
