#home-image{
    
    
    min-width: 100%;
    min-height: 20vh;
    max-height: 60vh;
    object-fit: cover;
    object-position: center -40vh;

    
}

.imageText {
    position: absolute;
    top: 50%; 
    left: 73.5%; 
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 6vh; 
    
}
#news, #scout-programs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
#news{
    color: rgb(219, 55, 55);
    text-decoration: underline;
    font-size: 5vh;


}

#event, #scout-programs{
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}